<!-- <app-componente-reusable [titulo]="'Formulario de carga de datos'"> -->
    <!-- <body class="container" [ngSwitch]="showInfo"> -->
        <body class="container">
            <!-- <ng-container *ngSwitchCase="false"> -->
            <h3>Formulario de carga de datos</h3>
            <form [formGroup]="form" class="col-12" (ngSubmit)="insSuggestion()" invalidate>
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label for="itiposervicio" i18n-label>Tipo de Servicio</label>
                        <select id="itiposervicio" formControlName="codTipoServicio" class="form-select" (change)="onChange($event)" >
                            <option [value]="t.codTipoServicio" *ngFor="let t of tipos" i18n-option>{{t.tipoServicio}}</option>
                        </select>
                        <div class="text-danger" *ngIf="submitted && form.controls['codTipoServicio'].errors?.['required']">
                            Debes informar el tipo de servicio...
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                      <label for="itemas" i18n-label>Tema</label>
                      <select id="itemas" formControlName="numeroTema" class="form-select" >
                          <option i18n-option value=""></option>
                          <option [value]="t.nroTema" *ngFor="let t of temas" i18n-option>{{t.tema}}</option>
                      </select>
                      <div class="text-danger" *ngIf="submitted && form.controls['numeroTema'].errors?.['required']">
                        Debes informar el tema...
                    </div>
                  </div>
              </div>
              <div class="row">
				<div class="col-12 mb-3">
					<label for="isugerencia">Sugerencia</label>
					<textarea cols="50" rows="5" id="isugerencia" formControlName="sugerencia" class="form-control"
						placeholder="Mis sugerencias son..."></textarea>
				</div>
			</div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success" routerLink="success">Guardar</button>
                        <button type="button" class="btn btn-danger ms-2" (click)="cancelar()">Cancelar</button>

                    </div>
                </div>
            </form>
            <!-- </ng-container> -->
            <!-- <ng-container *ngSwitchCase="true">
                <h3>Gracias! {{form.controls['apellido'].value}}, {{form.controls['nombre'].value}}</h3>
                <br>
                <button type="button" class="btn btn-info" (click)="cancelar()"> Cancelar </button>
            </ng-container> -->
        </body>
      <!-- </app-componente-reusable> -->